*{
    margin:0;
    padding:0;
}

body {
    background: radial-gradient(circle, rgba(83,96,108,1) 0%, rgba(171,184,175,1) 100%);
}

nav {
    background-color: #191C22;
    background-position: center;
    background-size: contain;
}

.navBox {
    color: aliceblue;
    height: 140px;
}

.navTitle{
    font-size: 30px;
    text-align: start;
    padding-top: 25px;
    padding-left: 15px;
}

a {
    text-decoration: none;
    border: 1px solid #8da4c9;
    border-radius: 5px;
    color: aliceblue;
    margin: 5px;
    padding: 5px;
    
}

.navLink {
    font-size: 20px;
    text-align: end;
    margin-top:40px;
    margin-right: 10px;
}

.main {
    height: 100%;
    margin: 10px;
    
}
.imageAndText {
    height: 300px;
    display: flex;
    justify-content: center;
}

#imageDescription {
    margin: 15px;
}

#textDescription {
    width: 410px;
    margin: 15px;
    text-align: justify;
}

table {
    border: 2px solid black;
    margin: 10px;
    margin-top: 30px; 
    margin-left: 15%;
    width: 900px;
}

th {
    border: 1px solid black;
    margin: 2px;
    text-align: center;
}

td {
    border: 1px solid black;
    margin: 2px;
    text-align: center;
    width: 200px;
    height: 220px;
    cursor: cell;
}

.middleRow {
    background-color:#8da4c9;
}
